table {
    border-collapse: collapse;
}

td, th {
    width: 70px;
    height: 70px;
}

td {
    text-align: center;
}

#dark-square {
    background-color: #769955;
    color: #E8ECCC;
}

#light-square {
    background-color: #E8ECCC;
    color: #769955;
}

img {
    width: 60px;
    height: 60px;
    -webkit-user-drag: none;
}

.highlight {
    background-color: #BACC45 !important;
}