/* The default board */

table {
    border-collapse: collapse;
}

td, th {
    width: 70px;
    height: 70px;
}

td {
    text-align: center;
}

#dark-square {
    background-color: #769955;
    color: #E8ECCC;
}

#light-square {
    background-color: #E8ECCC;
    color: #769955;
}

img {
    width: 60px;
    height: 60px;
    -webkit-user-drag: none;
}

/* Highlighting pieces/squares */

.highlightPieceWhenLeftClick {
    background-color: #BACC45 !important;
}

.highlightLightSquareWithRed {
    background-color: #EA7C69 !important;
}

.highlightDarkSquareWithRed {
    background-color: #D46C50 !important;
}